<div class="container">
    <div *ngFor="let item of producto" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{item.urlImg}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.nombre}}</h5>
            <p class="card-text">Descripcion {{item.descripcion}}</p>
            <p class="card-text">Precio {{item.precio}}</p>
            <p class="card-text">marca {{item.marca}}</p>
          </div>
        </div>
      </div>
</div>